<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1034003365482-b4rsimm0ub2hg5661q97cu431055jat2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1034003365482-b4rsimm0ub2hg5661q97cu431055jat2</string>
	<key>API_KEY</key>
	<string>AIzaSyBR0CtPs1wnKiUCKecu8qWGA2VILFykUE8</string>
	<key>GCM_SENDER_ID</key>
	<string>1034003365482</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cc.romanov.Listixs</string>
	<key>PROJECT_ID</key>
	<string>listixs-fdb59</string>
	<key>STORAGE_BUCKET</key>
	<string>listixs-fdb59.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1034003365482:ios:5b5d135dc8c40c76561413</string>
	<key>DATABASE_URL</key>
	<string>https://listixs-fdb59.firebaseio.com</string>
</dict>
</plist>